{% extends 'commons/base.html.twig' %}
{% block title %}Liste des blogs-post{% endblock %}

{% block content %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                {% for post in blogPosts %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="index.php?action=show_post&id={{ post.id }}">
                            <h2 class="post-title">{{ post.title }}</h2>
                        </a>
                        <h3 class="post-subtitle">{{ post.caption }}</h3>
                        <p class="post-meta">
                            Publié par <strong>{{ post.author }}</strong>
                            {% if post.modified_on is empty %}
                                le {{ post.created_on }}
                            {% else %}
                                . Dernière modification le {{ post.modified_on }}
                            {% endif %}
                        </p>
                        <p>
                            {{ post.caption }}
                        </p>
                        <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary" href="index.php?action=show_post&id={{ post.id }}">Lire la suite</a></div>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                {% endfor %}
                    
                    {# <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div> #}
                </div>
            </div>
        </div>
{% endblock %}